 <div class="panel panel-primary">
     <div class="panel-heading">
        Reset Password
    </div>
    <div class="panel-body">
    <div class="col-md-6 col-md-offset-3">
    <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
            <label for="code">Code</label>
            <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel" required />
            <div *ngIf="f.submitted && !code.valid" class="help-block">Code is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" name="newPassword" minlength= "8" maxlength="20" [(ngModel)]="model.newPassword" #newPassword="ngModel" required />
                    <div *ngIf="f.submitted && !newPassword.valid" class="help-block">Password is required</div>
                    <label for="passwordConfirm">Confirm New Password </label>
                    <input type="password" class="form-control" name="passwordConfirm" pattern="{{model.newPassword}}" [(ngModel)]="model.passwordConfirm" #passwordConfirm="ngModel" required />
                    <div *ngIf="f.submitted && !passwordConfirm.valid" class="help-block">Password Confirmation is required</div>
                    <span class="help-block" *ngIf="(newPassword.touched || newPassword.dirty) && newPassword.errors">
                            <span *ngIf="newPassword.errors.minlength">
                                    The password must be longer than 8 characters.
                            </span>
                    </span>
                     <span class="help-block" *ngIf="(passwordConfirm.touched || passwordConfirm.dirty) && passwordConfirm.errors">
                            <span *ngIf="passwordConfirm.errors.pattern">
                                    The Password do not match!
                            </span>
                    </span>
        </div>
        <div class="form-group">
            <button [disabled]="loading"  class="btn btn-primary">Submit</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
</div>
</div>
