<div class="panel panel-primary">
    <style>
        
        img {
            border: 1px solid #000000;
            border-radius: 15px;
            padding: 5px;
            width: 150px;
        }
    </style>
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row"  >
            <div class="maincontent">
                <h2 style="color:#000000;"><b>Professional Master of Science in Information Technology</b></h2>
                <p>Develop the knowledge and skills you will need to succeed as a IT professional. 
                    Earn your MS in one year with our accelerated hybrid  program that prepares graduates to implement better IT solutions in high-impact areas like security and networking.  </p>
                <div style="float: right; clear: left;"><img src="./app/assets/images/aboutUs.jpg" 
                            style="height:200px;width:300px"
                            border="10"/></div>
                <table>
                    <tr>
                        <td>
                            <div class="mainbox">
                                <h4 style="color:#337AB7;"><b>Covenient Hybrid Format</b></h4>
                                <p>A unique one-year hybrid program including all fees, meals and is designed for busy working professionals.</p>
                            </div>
                    
                            <div class="mainbox box-last">
                                <h4 style="color:#337AB7;"><b>Leading Faculty</b></h4>
                                <p>Learn from faculty with real-world experience who are leaders in their field committed to providing you with the best possible education experience.</p>
                            </div>
                        </td>
            
                        <td>
                        <div class="mainbox">
                            <h4 style="color:#337AB7;"><b>Unique Network</b></h4>
                            <p>Build your network and learn from other accomplished IT and business professionals in your cohort and in your FIU alumni network.</p>
                        </div>
                
                        <div class="mainbox box-last">
                            <h4 style="color:#337AB7;"><b>Industry Partners</b></h4>
                            <p>Benefit from the FIU network of industry partners including an advisory board offering career advice and the FIU Career Services Office.</p>
                        </div> 
                        </td>
                    </tr>   
                </table>
          </div>
        </div>
    </div>
</div>